<div class="container">
  <h1>
    View User <strong>{{ user.first_name }}</strong>
  </h1>

  <a href="#" routerLink="/home" class="btn btn-primary">Back</a>

  <p>
    <strong>Email:</strong>
    <input
      id="email"
      type="email"
      [(ngModel)]="user.email"
      disabled
      class="form-control"
    />
  </p>
  <p>
    <strong>First Name:</strong>
    <input
      id="first_name"
      type="first_name"
      [(ngModel)]="user.first_name"
      disabled
      class="form-control"
    />
  </p>

  <p>
    <strong>Password:</strong>
    <input
      id="password"
      type="password"
      [(ngModel)]="user.password"
      disabled
      class="form-control"
    />
  </p>
</div>
